extends layout

block content
  h1= title
  p Welcome to #{title}
  ul
    li I can pass a URL as a parameter and I will receive a shortened URL in the JSON response.
    li If I pass an invalid URL that doesn't follow the valid http://www.example.com format, the JSON response will contain an error instead.
    li When I visit that shortened URL, it will redirect me to my original link.

  
